
<div class="container">
  <h1>
    LNTRO Process Queue Waiting List
    <button class="btn btn-sm btn-default" (click)="getLNTROQueue()">Refresh</button>
  </h1>

  <hr>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Fetch Date</th>
        <th>Title</th>
        <th></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of lntroQueue; let i=index">
        <td>{{ i + 1 }}</td>
        <td>{{ row.id }}</td>
        <td>{{ row.fetchDate | date:'d MMMM y HH:mm:ss' }}</td>
        <td>{{ row.title }}</td>
        <td>
          <dl>
            <dt>Params</dt>
            <dd>
              <dl class="row ml-5">
                <dt class="col-sm-4">Corpus Count</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.corpusCount }}</dd>
                <dt class="col-sm-4">Construction Search Engines</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.constructionSearchEngines | json }}</dd>
                <dt class="col-sm-4">POS Tagger Model</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.posTagger }}</dd>
                <dt class="col-sm-4">Extraction Methods</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.extractionMethods | json }}</dd>
                <dt class="col-sm-4">Evaluation Search Engines</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.evaluationSearchEngines | json }}</dd>
              </dl>
            </dd>
            <dt>Description</dt>
            <dd>{{ row.description }}</dd>
          </dl>
        </td>
        <td>
          <a class="btn btn-success btn-sm" routerLink="/lntro/{{row.id}}" placement="top" ngbTooltip="See Detail"><fa-icon [icon]="iconFaDetail"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>