
.jumbotron-fluid {
    margin-top: -60px;
    // background-image: url('../../assets/bg-jumbotron.png');
    // background-size: cover;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}
