<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Selamat datang di Program LNTRO Bahasa!</h1>
    <p class="lead">LNTRO (Learning Non-Taxonomic Relationships of Ontologies) atau Pembelajaran Relasi Non-Taksonomi Ontologi adalah suatu sistem yang digunakan untuk mencari nama relasi non-taksonomis dari suatu pasangan data kelas ontologi.</p>
    <hr class="my-4">
    <p>Program ini menyediakan layanan untuk melakukan LNTRO dari dokumen Web dengan input data berbahasa Indonesia.</p>
    <a class="btn btn-primary btn-lg" routerLink="/lntro" role="button">Mulai LNTRO</a>
  </div>
</div>

<div class="container">
  <h3>
    Daftar Hasil Pembelajaran Terdahulu
    <button class="btn btn-sm btn-default" (click)="getLNTROProcesses()">Refresh</button>
  </h3>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Fetch Date</th>
        <th>Title</th>
        <th></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of lntroProcesses; let i=index">
        <td>{{ i + 1 }}</td>
        <td>{{ row.fetchDate | date:'d MMMM y HH:mm:ss' }}</td>
        <td>{{ row.title }}</td>
        <td>
          <dl>
            <dt>Params</dt>
            <dd>
              <dl class="row ml-5">
                <dt class="col-sm-4">Corpus Count</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.corpusCount }}</dd>
                <dt class="col-sm-4">Construction Search Engines</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.constructionSearchEngines | json }}</dd>
                <dt class="col-sm-4">POS Tagger Model</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.posTagger }}</dd>
                <dt class="col-sm-4">Extraction Methods</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.extractionMethods | json }}</dd>
                <dt class="col-sm-4">Evaluation Search Engines</dt>
                <dd class="col-sm-8">{{ row.algorithmParams.evaluationSearchEngines | json }}</dd>
              </dl>
            </dd>
            <dt>Description</dt>
            <dd>{{ row.description }}</dd>
          </dl>
        </td>
        <td>
          <a class="btn btn-success btn-sm" routerLink="/lntro/{{row.id}}" placement="top" ngbTooltip="See Detail"><fa-icon [icon]="iconFaDetail"></fa-icon></a>
          <span>&nbsp;</span>
          <button class="btn btn-primary btn-download btn-sm" (click)="downloadFile(i)" placement="top" ngbTooltip="Download Ontology OWL"><fa-icon [icon]="iconFaDownload"></fa-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>