<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">LNTRO Bahasa</a>
    <button class="navbar-toggler" type="button" (click)="isMobileCollapsed = !isMobileCollapsed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #navbarCollapse [ngbCollapse]="isMobileCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/lntro">Form LNTRO</a>
        </li>
        <!--
        <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/lntro/queue">Queue</a>
        </li>
        -->
      </ul>
    </div>
  </nav>
</header>