
<div class="container pb-4">
  <h1>Helper: Seeder</h1>

  <hr>

  <h3>Document Iframe Scrapper</h3>
  <form [formGroup]="form">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">JSON Urls</label>
      <div class="col-sm-9">
        <textarea #errorBufferReadonly class="form-control w-100" rows="10" readonly [style.display]="isBufferEditable ? 'none' : 'block'">{{ errorBuffers | json }}</textarea>
        <textarea #errorBufferEditable class="form-control w-100" rows="10" [style.display]="!isBufferEditable ? 'none' : 'block'">{{ errorBuffers | json }}</textarea>
        <button class="btn btn-warning m-2" (click)="getErrorBuffers()">Get From Server Error Buffer</button>
        <button class="btn btn-default m-2" (click)="isBufferEditable=!isBufferEditable">Toggle Edit</button>
        <button class="btn btn-default m-2" [class.disabled]="!isBufferEditable" (click)="errorBuffers=jsonParse(errorBufferEditable.value)">Parse Textarea</button>
      </div>
    </div>

    <!-- 
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Processed Documents</label>
      <div class="col-sm-9">
        <div class="row" *ngFor="let searchEngine of searchEngines">
          <div class="col-sm-3">
            <strong>{{ searchEngine.title }}</strong>
          </div>
          <div class="col-sm-9">{{ processingDocuments.get(searchEngine.key).counter }}</div>
        </div>
      </div>
    </div>
    -->

    <h4>Document Iframes</h4>
    <div formGroupName="document">
      <ngb-accordion #acc="ngbAccordion" [destroyOnHide]="false" *ngIf="objectKeys(errorBuffers).length > 0">
        <ngb-panel *ngFor="let se of objectKeys(errorBuffers)">
          <ng-template ngbPanelTitle>
            <span><b>{{ searchEngines[se].title }}</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div>
              <a [href]="getProcessingDocumentUrl(se)" target="_blank">
                {{ this.currentProcessingDocuments[se]?.target.url }}
              </a>
              <textarea class="form-control my-2" rows="5" formControlName="{{se}}"></textarea>
              <button class="btn btn-primary mx-2" (click)="documentLoadCompleteItem(se)" [class.disabled]="uploadStatus[se]">Upload Items</button>
              <button class="btn btn-primary mx-2" (click)="documentLoadCompleteStat(se)" [class.disabled]="this.uploadStatus[se]">Upload Stat</button>
              <button class="btn btn-danger mx-2" (click)="popAndPushProcessDocument(se)">Discard</button>
              <p class="text-info"><strong>{{ uploadMessage[se] }}</strong></p>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <!-- <div *ngFor="let searchEngine of searchEngines; let i=index">
        <div class="row">
          <div class="col-sm-3">
            <strong>{{ searchEngine.title }}</strong>
          </div>
          <div class="col-sm-9" *ngIf="getProcessingDocumentUrl(searchEngine?.key)">
            <a [href]="getProcessingDocumentUrl(searchEngine.key)" target="_blank">
              {{ this.processingDocuments.get(searchEngine.key).target.url }}
            </a>
            <textarea class="form-control mb-2" rows="5" formControlName="{{searchEngine.key}}"></textarea>
            <button class="btn btn-primary mx-2" (click)="documentLoadComplete(searchEngine.key)">Upload</button>
            <button class="btn btn-danger mx-2" (click)="popAndPushProcessDocument(searchEngine.key)">Discard</button>
          </div>
        </div>
        <hr>
      </div> -->
    </div>

  </form>

  <hr>

</div>
