
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #eee;
    >.container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

