
<div class="container">
    <h1>LNTRO Form</h1>

    <hr>

    <form [formGroup]="lntroForm" (ngSubmit)="onSubmit()">
        <div class="lntro-form-group" formGroupName="input">
            <h2>Input Data</h2>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Data (TSV / CSV)</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" (change)="handleFileInput('input.data', $event.target.files)">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Separator</label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="separator">
                        <option value="TAB">Tab (TSV)</option>
                        <option value="SEMICOLON">;</option>
                        <option value="COMMA">,</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Data Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="title">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Data Description</label>
                <div class="col-sm-9">
                    <textarea rows="5" class="form-control" formControlName="description"></textarea>
                </div>
            </div>
        </div>
        
        <hr>
        
        <div class="lntro-form-group" formGroupName="construction">
            <h2>Corpus Construction</h2>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Corpus Count Per Search Engine</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="number" class="form-control" formControlName="corpusCount">
                        <div class="input-group-append">
                            <span class="input-group-text">x {{ constructionSearchEnginesControlsChecked }} Search Engine : {{ corpusCountAll }} Total</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Construction Method</label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="corpusMethod">
                        <option *ngFor="let method of constructionMethods" [value]="method.key">{{ method.title }}</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row" formArrayName="searchEngines">
                <label class="col-sm-3 col-form-label">Search Engine Sources</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-check col-sm-4" *ngFor="let searchEngine of constructionSearchEnginesControls.controls; let i=index" [formGroupName]="i">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [formControl]="searchEngine">
                                {{ constructionSearchEngines[i].title }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        
        <div class="lntro-form-group" formGroupName="annotation">
            <h2>Corpus Annotation</h2>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">POS Tagger Model</label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="posTagger">
                        <option *ngFor="let model of posTaggerModels" [value]="model.key">{{ model.title }}</option>
                    </select>
                </div>
            </div>
        </div>
        
        <hr>
        
        <div class="lntro-form-group" formGroupName="extraction">
            <h2>Relationship Extraction</h2>
            
            <div class="form-group row" formArrayName="methods">
                <label class="col-sm-3 col-form-label">Extraction Methods</label>
                <div class="col-sm-9">
                    <div class="form-check" *ngFor="let method of extractionMethodsControls.controls; let i=index" [formGroupName]="i">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [formControl]="method">
                            {{ extractionMethods[i].title }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <div class="lntro-form-group" formGroupName="evaluation">
            <h2>Relationship Evaluation</h2>
            
            <div class="form-group row" formArrayName="searchEngines">
                <label class="col-sm-3 col-form-label">Evaluation Search Engines</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-check col-sm-4" *ngFor="let searchEngine of evaluationSearchEnginesControls.controls; let i=index" [formGroupName]="i">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [formControl]="searchEngine">
                                {{ evaluationSearchEngines[i].title }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <button class="btn btn-primary" [class.disabled]="isSubmittingForm" (ngSubmit)="onSubmit">
                    <span *ngIf="!isSubmittingForm">Submit</span>
                    <span *ngIf="isSubmittingForm">Submitting...</span>
                </button>
            </div>
        </div>
    </form>

    <hr>

    <!-- <pre>Values : {{ lntroForm.value | json }}</pre><hr> -->
</div>
