
<div class="container" *ngIf="lntroProcess === null">
  <fa-icon [icon]="iconFaSpinner" [spin]="true" size="6x"></fa-icon>
</div>

<div class="container" *ngIf="lntroProcess !== null">
  <h1>LNTRO Process Detail - {{ lntroProcess.fetchDate | date:'d MMMM y HH:mm:ss' }}</h1>

  <hr>

  <h2>{{ lntroProcess.title }}</h2>
  <div class="description">{{ lntroProcess.description }}</div>

  <hr>

  <h2>Params</h2>
  <div class="params">
    <div class="row">
      <div class="col-sm-3">
        <strong>Corpus Count</strong>
      </div>
      <div class="div-sm-9">{{ lntroProcess.algorithmParams.corpusCount }}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <strong>Construction Search Engines</strong>
      </div>
      <div class="div-sm-9">{{ constructionSearchEngines.join(', ') }}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <strong>POS Tagger Model</strong>
      </div>
      <div class="div-sm-9">{{ posTaggerModel }}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <strong>Extraction Methods</strong>
      </div>
      <div class="div-sm-9">{{ extractionMethods.join(', ') }}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <strong>Evaluation Search Engines</strong>
      </div>
      <div class="div-sm-9">{{ evaluationSearchEngines.join(', ') }}</div>
    </div>
  </div>

  <hr>

  <h2>Output</h2>
  <div class="output">
    <ngb-accordion #acc="ngbAccordion" (panelChange)="panelChangeHandler($event)">
      <ngb-panel *ngIf="lntroProcess.output.data.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Data</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table datatable class="row-border hover table-data">
            <thead>
              <tr>
                <th>#</th>
                <th *ngFor="let column of columnNames; let i=index">{{ column }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of lntroProcess.output.data; let i=index">
                <td>{{ i + 1 }}</td>
                <td *ngFor="let col of row; let j=index">{{ col }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="rawCorpusIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Search Results</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table datatable [dtOptions]="dtObjects.corpus.dtOptions" class="row-border hover table-raw-corpus">
            <thead>
              <tr>
                <th>#</th>
                <th>Data</th>
                <th>Search Result Count</th>
                <th>Search Result</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let corpus of rawCorpusIterable; let i=index">
                <td>{{ i + 1 }}</td>
                <td>{{ corpus.key }}</td>
                <td>{{ corpus.value.length }}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="openRawCorpusModal(modalRawCorpus, corpus.key, corpus.value)">Open Corpus</button>
                </td>
              </tr>
            </tbody>
          </table>

          <ng-template #modalRawCorpus let-modal0>
            <div class="modal-header">
              <h4 class="modal-title">Search Result - {{ modalData.rawCorpus.data }}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal0.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-sm w-100 table-hover" *ngVar="modalData.rawCorpus.data.split(',') as dataArray">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-right">#</th>
                    <th>Search Engine</th>
                    <th>Search Result Snippet</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of modalData.rawCorpus.rows; let j=index;">
                    <td class="text-right">{{ j + 1 }}</td>
                    <td>{{ row.searchEngine }}</td>
                    <td>
                      <span class="mx-2" [innerHTML]="this.makeHighlightBold(row.content, dataArray).trim()"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal0.close('Close click')">Close</button>
            </div>
          </ng-template>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="corpusIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Corpus</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table datatable [dtOptions]="dtObjects.corpus.dtOptions" class="row-border hover table-corpus">
            <thead>
              <tr>
                <th>#</th>
                <th>Data</th>
                <th>Corpus Count</th>
                <th>Corpus</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let corpus of corpusIterable; let i=index">
                <td>{{ i + 1 }}</td>
                <td>{{ corpus.key }}</td>
                <td>{{ corpus.value.length }}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="openCorpusModal(modalCorpus, corpus.key, corpus.value)">Open Corpus</button>
                </td>
              </tr>
            </tbody>
          </table>

          <ng-template #modalCorpus let-modal1>
            <div class="modal-header">
              <h4 class="modal-title">Corpus - {{ modalData.corpus.data }}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-sm w-100 table-hover" *ngVar="modalData.corpus.data.split(',') as dataArray">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-right">#</th>
                    <th>Highlighted Sentences</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of modalData.corpus.rows; let j=index;">
                    <td class="text-right">{{ j + 1 }}</td>
                    <td>
                      <em class="text-muted">{{ dataArray[0] }}</em>
                      <span class="mx-2">{{ row }}</span>
                      <em class="text-muted">{{ dataArray[1] }}</em>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal1.close('Close click')">Close</button>
            </div>
          </ng-template>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="annotatedCorpusIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Annotated Corpus</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ngb-tabset type="pills">
            <ngb-tab [title]="posTag.key" *ngFor="let posTag of posTagsIterable; let i=index">
              <ng-template ngbTabContent>
                <div class="mt-2 px-3">
                  <h3><strong>{{ posTag.value.title }}</strong></h3>
                  <p>{{ posTag.value.description }}</p>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>

          <hr>

          <table datatable [dtOptions]="dtObjects.annotatedCorpus.dtOptions" class="row-border hover table-annotated">
            <thead>
              <tr>
                <th>#</th>
                <th>Data</th>
                <th>Corpus Count</th>
                <th>Annotated Corpus</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let corpus of annotatedCorpusIterable; let i=index">
                <td>{{ i + 1 }}</td>
                <td>{{ corpus.key }}</td>
                <td>{{ corpus.value.length }}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="openAnnotatedCorpusModal(modalAnnotatedCorpus, corpus.key, corpus.value)">Open Annotated Corpus</button>
                </td>
              </tr>
            </tbody>
          </table>

          <ng-template #modalAnnotatedCorpus let-modal2>
            <div class="modal-header">
              <h4 class="modal-title">Annotated Corpus - {{ modalData.annotatedCorpus.data }}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal2.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-sm w-100 table-hover" *ngVar="modalData.annotatedCorpus.data.split(',') as dataArray">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-right">#</th>
                    <th>Annotated Sentences</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tokens of modalData.annotatedCorpus.rows; let j=index;">
                    <td class="text-right">{{ j + 1 }}</td>
                    <td>
                      <em class="text-muted">{{ dataArray[0] }}</em>
                      &nbsp;&nbsp;&nbsp;
                      <span *ngFor="let token of tokens">
                        &nbsp;
                        <span [style.fontWeight]="token.posTag.tag == 'VB' ? 'bold': 'normal'">{{ token.word }} / <abbr [title]="posTags[token.posTag.tag]?.title">{{ token.posTag.tag }}</abbr></span>
                        <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                        &nbsp;
                      </span>
                      &nbsp;&nbsp;&nbsp;
                      <em class="text-muted">{{ dataArray[1] }}</em>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal2.close('Close click')">Close</button>
            </div>
          </ng-template>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="termFrequencyMapsIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Term Frequency Maps</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table datatable [dtOptions]="dtObjects.termFrequencyMaps.dtOptions" class="row-border hover table-tfm">
            <thead>
              <tr>
                <th>#</th>
                <th>Data</th>
                <th>Term Count</th>
                <th style="width: 50%">Term Frequency Map</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tfm of termFrequencyMapsIterable; let i=index">
                <td>{{ i + 1 }}</td>
                <td>{{ tfm.key }}</td>
                <td>{{ tfm.value.length }}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="openTermFrequencyMapsModal(modalTermFrequencyMaps, tfm.key, tfm.value)">Open Term Frequency Map</button>
                </td>
              </tr>
            </tbody>
          </table>

          <ng-template #modalTermFrequencyMaps let-modal3>
            <div class="modal-header">
              <h4 class="modal-title">Term Frequency Map - {{ modalData.termFrequencyMaps.data }}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal3.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-sm w-100 table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-right">#</th>
                    <th>Term</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let term of modalData.termFrequencyMaps.rows; let j=index;">
                    <td class="text-right">{{ j + 1 }}</td>
                    <td>{{ term.key }}</td>
                    <td>{{ term.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal3.close('Close click')">Close</button>
            </div>
          </ng-template>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="extractionScoresIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Extraction Scores</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="mb-4" *ngFor="let scores of extractionScoresIterable; let i=index">
            <h4>{{ scores.key }}</h4>
            <table class="table table-striped table-hover table-bordered table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="text-right">#</th>
                  <th>Term</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let term of scores.value; let j=index">
                  <td class="text-right">{{ j + 1 }}</td>
                  <td>{{ term.key }}</td>
                  <td>{{ term.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="topExtractionTermsIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Top Extraction Terms</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="mb-4" *ngFor="let topTerm of topExtractionTermsIterable; let i=index">
            <h4>{{ topTerm.key }}</h4>
            <table class="table table-hover table-bordered table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Hasil Ekstraksi</th>
                  <th>Kata Dasar</th>
                  <th>Kata Kerja Aktif</th>
                  <th>Kata Kerja Pasif</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let term of topTerm.value; let j=index" [ngClass]="{'bg-success': j==0}">
                  <th>{{ term.value.word }}</th>
                  <td>{{ term.value.stem }}</td>
                  <td>{{ term.value.activeForm }}</td>
                  <td>{{ term.value.passiveForm }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="evaluationDataSampleIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Evaluation Data Sample</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table datatable class="row-border hover table-evaluation">
            <thead>
              <tr>
                <th>#</th>
                <th *ngFor="let column of columnNames; let i=index">{{ column }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of evaluationDataSampleIterable; let i=index">
                <td>{{ i + 1 }}</td>
                <td *ngFor="let col of row; let j=index">{{ col }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="evaluationScoresIterable.length > 0">
        <ng-template ngbPanelTitle>
          <span><b>Evaluation Scores</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="mb-4" *ngFor="let scores of evaluationScoresIterable; let i=index">
            <h4>{{ scores.key }}</h4>
            <table class="table table-striped table-hover table-bordered table-sm">
              <thead class="thead-dark">
                <tr>
                  <!-- <th>Extracted Terms</th> -->
                  <th>Evaluated Terms</th>
                  <th class="text-center" *ngFor="let se of evaluationSearchEnginesObjects">{{ se.title }}</th>
                  <th class="text-center">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let term of scores.value; let j=index">
                  <!-- <td>{{ topExtractionTermsIterable[i].value[j].value.word }}</td> -->
                  <td>{{ term.key }}</td>
                  <td class="text-right" *ngFor="let se of evaluationSearchEnginesObjects">{{ (term.value[se.key] || 0).toLocaleString('id', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }}</td>
                  <td class="text-right">{{ sumReduceMap(term.value).toLocaleString('id', {minimumFractionDigits: 0, maximumFractionDigits: 0}) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <button class="btn btn-primary btn-download" (click)="downloadOntologyDefault()">
      <fa-icon [icon]="iconFaDownload"></fa-icon> Download Ontology (OWL)
    </button>

    <br />

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-dark btn-download" id="downloadDropdown" ngbDropdownToggle>
        <fa-icon [icon]="iconFaDownload"></fa-icon> Download Ontology (OWL) using other term
      </button>
      <div ngbDropdownMenu aria-labelledby="downloadDropdown">
        <button class="btn dropdown-item" *ngFor="let topTerm of topExtractionTermsUniqueIterable" (click)="downloadOntology(topTerm.key)">
          <strong>{{ topTerm.key }}</strong>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="lntroProcess.output._benchmark != null">
    <hr>

    <h2>Benchmark</h2>
    <div class="params">
      <div class="row" *ngIf="lntroProcess.output._benchmark.hasOwnProperty('Data')">
        <div class="col-sm-3">
          <strong>Input Data</strong>
        </div>
        <div class="div-sm-9">{{ lntroProcess.output._benchmark['Data'] }}</div>
      </div>
      <div class="row" *ngIf="lntroProcess.output._benchmark.hasOwnProperty('Corpus Construction')">
        <div class="col-sm-3">
          <strong>Corpus Construction</strong>
        </div>
        <div class="div-sm-9">{{ lntroProcess.output._benchmark['Corpus Construction'] }}</div>
      </div>
      <div class="row" *ngIf="lntroProcess.output._benchmark.hasOwnProperty('Corpus Annotation')">
        <div class="col-sm-3">
          <strong>Corpus Annotation</strong>
        </div>
        <div class="div-sm-9">{{ lntroProcess.output._benchmark['Corpus Annotation'] }}</div>
      </div>
      <div class="row" *ngIf="lntroProcess.output._benchmark.hasOwnProperty('LNTRO Extraction')">
        <div class="col-sm-3">
          <strong>LNTRO Extraction</strong>
        </div>
        <div class="div-sm-9">{{ lntroProcess.output._benchmark['LNTRO Extraction'] }}</div>
      </div>
      <div class="row" *ngIf="lntroProcess.output._benchmark.hasOwnProperty('LNTRO Evaluation')">
        <div class="col-sm-3">
          <strong>LNTRO Evaluation</strong>
        </div>
        <div class="div-sm-9">{{ lntroProcess.output._benchmark['LNTRO Evaluation'] }}</div>
      </div>
    </div>
    <div class="row" *ngIf="lntroProcess.output._benchmark.hasOwnProperty('Full Process')">
      <div class="col-sm-3">
        <strong>Full Process</strong>
      </div>
      <div class="div-sm-9"><strong>{{ lntroProcess.output._benchmark['Full Process'] }}</strong></div>
    </div>
  </div>

  <hr>

  <div class="wide-padding-bottom">&nbsp;</div>
</div>